#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_FinCoind += debian/examples/*
DEB_INSTALL_MANPAGES_FinCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix FinCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f FinCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake FinCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/FinCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/FinCoind
binary-post-install/FinCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/FinCoin-qt
